.square-box {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  background-color: #f0f0f0;
}

.square-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像がボックスに収まるように調整 */
}

/* Speech Bubble Styles */
.speech-bubble {
  position: relative;
  background: #00aabb; /* A distinct color for the bubble */
  border-radius: .4em;
  padding: 15px;
  margin-bottom: 30px; /* Space below the bubble */
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block; /* To make it wrap content */
  animation: popIn 0.5s ease-out forwards; /* Animation */
  opacity: 0; /* Start hidden for animation */
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

@keyframes popIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}